{% extends "base.html" %}
{% load static i18n %}


{% block extra_head %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="ui container">
            <h1>{% trans "Recent Submissions" %}</h1>
            <label>
                <input type="checkbox" id="show_child_checkbox" {% if show_child_submissions %}checked{% endif %}> {% trans "Show child submissions" %}
            </label>
            <span class="ui mini circular icon button"
                data-tooltip="{% trans "Child submissions are created when a competition has multiple tasks (one child for each task)." %}"
                data-position="top center">
                <i class="question icon"></i>
            </span>
            <table class="ui table">
                <thead>
                <th>{% trans "Competition" %}</th>
                <th>{% trans "Submission PK" %}</th>
                {% if show_child_submissions %}
                    <th>{% trans "Parent PK" %}</th>
                {% endif %}
                <th>{% trans "Size" %}</th>
                <th>{% trans "Submitter" %}</th>
                <th>{% trans "Queue" %}</th>
                <th>{% trans "Ingestion Hostname" %}</th>
                <th>{% trans "Scoring Hostname" %}</th>
                <th>{% trans "Submitted at" %}</th>
                <th>{% trans "Status" %}</th>
                </thead>
                <tbody>
                    {% if not submissions %}
                    <tr class="center aligned">
                        <td colspan="100%"><em>{% trans "No submissions, yet!" %}</em></td>
                    </tr>
                    {% endif %}
                    {% for submission in submissions %}
                    <tr>
                        <td><a class="link-no-deco" target="_blank" href="./competitions/{{ submission.phase.competition.id }}">{{ submission.phase.competition.title }}</a></td>
                        <td>{{ submission.pk }}</td>
                        {% if show_child_submissions %}
                            <td>{{ submission.parent.pk }}</td>
                        {% endif %}
                        <td>{{ submission.file_size }}</td>
                        <td><a target="_blank" href="/profiles/user/{{ submission.owner.username }}">{{ submission.owner_display_name }}</a></td>
                        <td>{{ submission.competition_queue }}</td>
                        <td>{{ submission.ingestion_worker_hostname }}</td>
                        <td>{{ submission.scoring_worker_hostname }}</td>
                        <td>{% blocktrans trimmed with time_ago=submission.created_when|timesince %}{{ time_ago }} ago{% endblocktrans %}</td>
                        <td>{{ submission.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Pagination Div -->
            {% if is_paginated %}
            <div class="pagination-nav">
                {% if submissions.has_previous %}
                <span class="float-left">
                    <a class="ui button" href="?page=1{% if show_child_submissions %}&show_child_submissions={{ show_child_submissions }}{% endif %}">{% trans "First" %}</a>
                    <a class="ui button" href="?page={{ submissions.previous_page_number }}{% if show_child_submissions %}&show_child_submissions={{ show_child_submissions }}{% endif %}">{% trans "Previous" %}</a>
                </span>
                {% endif %}
                
                <span class="center">
                    {% blocktrans trimmed with current_page=submissions.number total_pages=paginator.num_pages %}Page {{ current_page }} of {{ total_pages }}{% endblocktrans %}
                </span>
                
                
                {% if submissions.has_next %}
                <span class="float-right">
                    <a class="ui button" href="?page={{ submissions.next_page_number }}{% if show_child_submissions %}&show_child_submissions={{ show_child_submissions }}{% endif %}">{% trans "Next" %}</a>
                <a class="ui button" href="?page={{ paginator.num_pages }}{% if show_child_submissions %}&show_child_submissions={{ show_child_submissions }}{% endif %}">{% trans "Last" %}</a>
                </span>
                {% endif %}

            </div>
            {% endif %}
        </div>
    {% else %}
        <div class="ui container">
            {% url 'accounts:login' as login_url %}
            {% url 'accounts:signup' as signup_url %}
            <div class="ui yellow message">
                {% blocktrans trimmed with login_url=login_url signup_url=signup_url %}
                    <a href="{{ login_url }}">Log In</a> or <a href="{{ signup_url }}">Sign Up</a> to view this page
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const checkbox = document.getElementById("show_child_checkbox");
        
            checkbox.addEventListener("change", function() {
                const isChecked = checkbox.checked;
                const url = new URL(window.location);
                if (isChecked) {
                    url.searchParams.set('show_child_submissions', true);
                } else {
                    url.searchParams.delete('show_child_submissions');
                }
                window.location.href = url.toString();
            });
        });
    </script>
{% endblock %}
