{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="sixteen wide mobile eight wide computer centered column">
        <img src="/static/img/404.png">
        <p>{% trans "Could not find the page you requested." %}</p>
        <p>
            {% blocktrans trimmed %}
                If you are the challenge organizer and this URL previously pointed to a valid competition and it is now missing please contact us at info@codabench.org for more information.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with bug_report_url="https://github.com/codalab/codabench/issues/new" wiki_url="https://github.com/codalab/codabench/wiki" %}
                If this is an error, please file a <a href="{{ bug_report_url }}">bug report</a>. For more information about Codabench, check out the <a href="{{ wiki_url }}">wiki</a>.
            {% endblocktrans %}
        </p>
        <a class="ui fluid blue submit button" href="/">{% trans "Return to Home" %}</a>
</div>
{% endblock %}
