{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="sixteen wide mobile six wide computer centered column">
    {% if ENABLE_SIGN_IN %}
    <h2 class="ui blue centered header">
        {% trans "Login" %}
    </h2>
    {% if activation_error %}
    {% url 'accounts:resend_activation' as resend_activation_url %}
    <div class="ui red message">
        {% blocktrans trimmed with activation_error=activation_error resend_url=resend_activation_url %}
            {{ activation_error }} or click <a href="{{ resend_url }}">here</a> to send the activation email again
        {% endblocktrans %}
    </div>
    {% endif %}
    <div class="ui stacked segment">
        <form class="ui form" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="ui red message">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if form.username.errors %}
            <div class="ui red message">
                {{ form.username.errors }}
            </div>
            {% endif %}
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text"
                           name="username"
                           placeholder="{% trans "username" %}"
                           id="id_username"
                           value="{{ form.username.value|default:''}}"
                           maxlength="{{ form.username.field.max_length }}"
                           autofocus
                           required>
                </div>
            </div>

            {% if form.password.errors %}
            <div class="ui red message">
                {{ form.password.errors }}
            </div>
            {% endif %}
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password"
                           name="password"
                           placeholder="{% trans "password" %}"
                           id="id_password"
                           value="{{ form.password.value|default:''}}"
                           maxlength="{{ form.password.field.max_length }}"
                           required>
                </div>
            </div>
            <button class="ui fluid blue submit button" type="submit">{% trans "Log In" %}</button>
            <div class="ui divider"></div>
            {% if ENABLE_SIGN_UP %}
                {% url 'accounts:signup' as signup_url %}
                <p>
                    {% blocktrans trimmed with signup_url=signup_url %}
                        Don't have an account? <a href="{{ signup_url }}">Sign Up</a>
                    {% endblocktrans %}
                </p>
            {% endif %}
            

            <div class="ui error message"></div>
        </form>
    </div>
    {% endif %}

    <!-- Auth Organization Buttons -->
    {% if auth_organizations %}
    <div class="sixteen wide mobile six wide computer centered column">
        <h3 class="ui centered header">{% trans "Organization Login" %}</h3>
        <form method="POST" action="{% url 'oidc_configurations:organization_oidc_login' %}">
            {% csrf_token %}
            <div>
                <input type="checkbox" name="checkbox" id="id_checkbox" required>
                <label for="id_checkbox">
                    {% blocktrans trimmed %}
                        I accept the <a href="https://github.com/codalab/codalab-competitions/wiki/Privacy" target="_blank">terms and conditions</a>.
                    {% endblocktrans %}
                </label>
            </div>
            {% for organization in auth_organizations %}
            <button class="ui fluid primary submit button"
                    type="submit"
                    name="organization_oidc_login"
                    value="{{ organization.id }}"
                    style="background-color: {{ organization.button_bg_color }};
                           color: {{ organization.button_text_color }};
                           margin-bottom:5px;">
                {% blocktrans trimmed with organization_name=organization.name %}Login with {{ organization_name }}{% endblocktrans %}
            </button>
            {% endfor %}
        </form>
        
    </div>
    {% endif %}
</div>
{% endblock %}
