{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="sixteen wide mobile six wide computer centered column">
    <h2 class="ui blue centered header">
        {% trans "Password changed" %}
    </h2>
    <div class="ui stacked segment">
        <p>{% trans "Your password has been updated." %}</p>
        <div class="ui divider"></div>
        <a class="ui fluid blue button" href="/">{% trans "Go to home" %}</a>
    </div>
</div>
{% endblock %}

