{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="sixteen wide mobile six wide computer centered column">
    <h2 class="ui blue centered header">
        {% trans "Change Password" %}
    </h2>
    <div class="ui stacked segment">
        <div class="ui divider"></div>
        <form class="ui form" method="POST">
            {% csrf_token %}
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password"
                           name="old_password"
                           placeholder="{% trans "old password" %}"
                           id="id_old_password"
                           required>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password"
                           name="new_password1"
                           placeholder="{% trans "new password" %}"
                           id="id_new_password1"
                           required>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password"
                           name="new_password2"
                           placeholder="{% trans "repeat new password" %}"
                           id="id_new_password2"
                           required>
                </div>
            </div>
            <button class="ui fluid blue submit button" type="submit">{% trans "Change Password" %}</button>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
{% endblock %}

